[submodule ".registry"]
	path = .registry
	url = https://github.com/cparsania/universe
	shallow = true
	branch = HEAD
[submodule "FungiExpresZ"]
	path = FungiExpresZ
	url = https://github.com/cparsania/fungiexpresz
	shallow = true
	registered = true
